.myFooter{
  bottom: 0;
  position: relative;
  width: 100%;
}

.myBtn{
	background-color: green;
  color: white;
}

.myBtn:hover{
  color: green;
  background-color: white;
  border: solid green 1px;
}

#site-navigation .nav li a.myBtn:hover{
  color: greenyellow;
}
