.myFooter{
  bottom: 0;
  position: relative;
  width: 100%;
}

.myBtn{
	background-color: #ff6600;
  color: white;
}

.myBtn:hover{
  color: #ff6600;
  background-color: white;
  border: solid #ff6600 1px;
}

#site-navigation .nav li a.myBtn:hover{
  color: #ff6600;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #ff6600;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image_cat {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.cat_img:hover .image_cat {
  opacity: 0.3;
}
